# action.yml
name: 'Generates/Pushes Deploy Keys for each App'
description: 'Generates/Pushes Deploy Keys for the app-state of each app'
author: Project C12
runs:
  using: 'docker'
  image: 'docker://$docker_login_server/c12/ci-tooling'
  entrypoint: '/bin/bash'
  args:
    - '/github/workspace/.c12/scripts/generate-deploy-keys.sh'    