# action.yml
name: 'Check and Generate Pipeline Secrets and Principles'
description: 'Generate and destroys all Github Actions Secrets required for all Application pipelines'
author: Project C12
runs:
  using: 'docker'
  image: 'docker://$docker_login_server/c12/ci-tooling'
  entrypoint: '/bin/bash'
  args:
    - '/github/workspace/.c12/scripts/generate-pipeline-secrets.sh'