apiVersion: templates.gatekeeper.sh/v1beta1
kind: ConstraintTemplate
metadata:
  name: {{ name | replace("_", "") | replace("-", "") }}
spec:
  crd:
    spec:
      names:
        kind: "{{ kind }}"
{%- if properties %}
      validation:
        openAPIV3Schema:
          properties:
            {%- for property in properties %}
            {{ property["name"]}}:
{{ property['definition'] | pretty(indent=14) }}
            {%- endfor -%}
{% endif %}
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
{{ rego | indent(width=8, first=True) }}

