# action.yml
name: 'hydrate application source repos'
description: 'Checks and hydrates application source repos for required CI pipeline scripts and tools'
author: Project C12
runs:
  using: 'docker'
  image: 'docker://$docker_login_server/c12/ci-tooling'
  entrypoint: '/bin/bash'
  args:
    - '/github/workspace/.c12/scripts/hydrate-application-src-repos.sh'    