# action.yml
name: 'Push docker images to cluster registry'
description: 'Pushes the required docker images to the clusters docker registries'
author: Project C12
runs:
  using: 'docker'
  image: 'docker://$docker_login_server/c12/ci-tooling'
  entrypoint: '/bin/bash'
  args:
    - '/github/workspace/.c12/scripts/push-docker-images.sh'