{% if auditbeat_linux.enabled is sameas true %}
- pipeline.id: auditbeat-linux
  path.config: "/etc/logstash/conf.d/auditbeat-linux.conf"
{% else %}
# - pipeline.id: auditbeat-linux
#   path.config: "/etc/logstash/conf.d/auditbeat-linux.conf"
{% endif %}

{% if auditbeat_windows.enabled is sameas true %}
- pipeline.id: auditbeat-windows
  path.config: "/etc/logstash/conf.d/auditbeat-windows.conf"
{% else %}
# - pipeline.id: auditbeat-windows
#   path.config: "/etc/logstash/conf.d/auditbeat-windows.conf"
{% endif %}

{% if cfs.enabled is sameas true %}
- pipeline.id: cfs
  path.config: "/etc/logstash/conf.d/cfs.conf"
{% else %}
# - pipeline.id: cfs
#   path.config: "/etc/logstash/conf.d/cfs.conf"
{% endif %}

{% if filebeat.enabled is sameas true %}
- pipeline.id: filebeat
  path.config: "/etc/logstash/conf.d/filebeat.conf"
{% else %}
# - pipeline.id: filebeat
#   path.config: "/etc/logstash/conf.d/filebeat.conf"
{% endif %}

{% if jira.enabled is sameas true %}
- pipeline.id: jira
  path.config: "/etc/logstash/conf.d/jira.conf"
{% else %}
# - pipeline.id: jira
#   path.config: "/etc/logstash/conf.d/jira.conf"
{% endif %}

{% if opsman.enabled is sameas true %}
- pipeline.id: opsman
  path.config: "/etc/logstash/conf.d/opsman.conf"
{% else %}
# - pipeline.id: opsman
#   path.config: "/etc/logstash/conf.d/opsman.conf"
{% endif %}

{% if pks.enabled is sameas true %}
- pipeline.id: pks
  path.config: "/etc/logstash/conf.d/pks.conf"
{% else %}
# - pipeline.id: pks
#   path.config: "/etc/logstash/conf.d/pks.conf"
{% endif %}

{% if bosh.enabled is sameas true %}
- pipeline.id: bosh
  path.config: "/etc/logstash/conf.d/bosh.conf"
{% else %}
# - pipeline.id: bosh
#   path.config: "/etc/logstash/conf.d/bosh.conf"
{% endif %}

{% if container.enabled is sameas true %}
- pipeline.id: container
  path.config: "/etc/logstash/conf.d/container.conf"
{% else %}
# - pipeline.id: container
#   path.config: "/etc/logstash/conf.d/container.conf"
{% endif %}